
<mat-table [dataSource]="ListData">
    <ng-container matColumnDef="goldenkey">
      <mat-header-cell *matHeaderCellDef>Golden key</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.goldenkey }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="managerName">
      <mat-header-cell *matHeaderCellDef>Manager Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.managerName }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>