
<body>
<form (ngSubmit)="addgoldenkey(f)" #f="ngForm" class="formbox">
    <div class="form-group">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
              </button>
        <label for="status">Status</label>
        <input type="status" id="status" name="status" class="form-control" ngModel>
    </div>
  <div class="form-group">
      <label for="goldenkey">Golden Key</label>
      <input type="goldenkey" id="goldenkey" name="goldenkey" class="form-control" ngModel>
  </div>
  <div class="form-group">
      <label for="managerName">Manager Name</label>
      <input type="managerName" id="managerName" name="managerName" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label for="reason">Reason</label>
        <input type="reason" id="reason" name="reason" class="form-control" ngModel>
    </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<div *ngIf="isAccepted">
  <div class="alert alert-success" role="alert">Successfully Submitted! Check <a routerLink="/activities">Activities </a> for reference.

  
</div>
</div>
</body>