.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #0055BF;
}

a #logo {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0055BF;
  padding: 10px;
  font-style: italic;
}