<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-nav-list>
      <a id="navlink" mat-list-item routerLink="/breakglass">Break Glass</a>
      <a id="navlink" mat-list-item routerLink="/notifications">Notifications</a>
      <a id="navlink" mat-list-item routerLink="/activities">Activities</a>
      <ng-template [ngIf]="!afAuth.auth.currentUser">
        <a id="navlink" mat-list-item routerLink="/signin">Sign In</a>
        <a id="navlink" mat-list-item routerLink="/signup" routerLinkActive="active">Sign Up</a>
      </ng-template>
      <a id="navlink" mat-list-item style="cursor: pointer;" (click)="onLogout()" *ngIf="afAuth.auth.currentUser">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="">
        <img src="../../assets/nhslogo.jpg" alt="" id="logo">
      </a>
    </mat-toolbar>
    <!-- Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
