.sidenav-container {
  height: 100%;
  font-family: 'Palantino', sans-serif;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #005EB8;
}

a #logo {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #005EB8;
  padding: 10px;
  font-style: italic;
}

#navlink {
  font-family: 'Palantino', sans-serif;
}