<div *ngIf="user.uid | async as uid; else login">
  <div class="alert alert-success" role="alert">You are signed in!</div>
</div>
<ng-template #login>
  <div class="alert alert-danger" role="alert">You Must Sign In to get notifications!</div>
</ng-template>
<mat-table [dataSource]="listData">
  <ng-container matColumnDef="fullName">
    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.fullName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ward">
    <mat-header-cell *matHeaderCellDef>ward</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.ward}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reasonForUnfilledShift">
    <mat-header-cell *matHeaderCellDef>reason</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.reasonForUnfilledShift}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button class="btn btn-primary">More Info</button>
      <button class="btn btn-danger">Reject</button>
    </mat-cell> 
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

