
#controles-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    color: #636363;
    padding-bottom: 0%;
}
.normal-form {
    margin-left: auto;
    margin-right: auto;
    color: #636363; 
    font-family: Helvetica, sans-serif;
}


/* SMARTPHONES PORTRAIT */

@media only 
screen and (min-width: 
300px) {

.formcontainer {

max-width: 
90%;

}
#submitbutton {
    width: 45%;
}
#clearbutton{
    width: 45%;
}

}

/* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 480px) {

.formcontainer {
max-width: 
80%;

}
}


/* TABLETS PORTRAIT */

@media only screen and (min-width: 768px) {

.formcontainer {
max-width: 60%;
}

}



/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 1024px) {

.formcontainer {
max-width: 40%;

}
#submitbutton {
    width: 25%;
}
#clearbutton{
    width: 25%;
}

} 
