<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
        <div *ngIf="authService.currentUserName">
            <div class="alert alert-success" role="alert">The user is logged in!</div>
        </div>
        <div *ngIf="user.uid | async as uid; else login">
            <div class="alert alert-success" role="alert">The user is logged in!</div>
            <div class="alert alert-success" role="alert">You are currently signed in with the email {{ angularFireAuth.auth.currentUser.email }}  </div>
              <div *ngIf="user.isAdmin | async"></div>
            </div>
        <ng-template #login>
          <form (ngSubmit)="onSignin(f)" #f="ngForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" ngModel>
              </div>
            <button class="btn btn-primary" type="submit">Sign In</button>
          </form>
        </ng-template>
    </div>
  </div>
  
  