<body>
<div id="bg" >
    <img id="banner" src="../../assets/hero-2.jpg">

</div>

<div class="content">
     <h1>Welcome to NHS Break Glass</h1>
</div>

<div id="helpbox" class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                    <img id="phoneicon" src="../../assets/phone-receiver.svg">
                    <div id="helptext">
                    <br>Need help using the form?
                    <br>Contact the IT helpdesk:
                    <br><b>01642 2567821</b>
                    </div>
            </div>
            <div class="col-lg-1 verticalLine">

            </div>
            <div id="rightbox" class="col-lg-6">
                <img id="phoneicon" src="../../assets/close-envelope.svg">
                <div id="helptext">
                <br>Noticed any errors or bugs?
                <br>Email <b>ithelpdesk@nhs.co.uk</b> with the details.
                </div>
            </div>
        </div>
    </div>
    </body>